* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    
    font-family: 'Comfortaa', sans-serif;
    font-size: inherit;
    font-weight: normal;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
}

::selection {
    background: rgba(0, 0, 0, 0.1);
}

body {
    margin: auto;
    width: 65rem;
    
    font-size: 14px;
    
    background: linear-gradient(to bottom, #FFF, rgb(250, 250, 250) 3rem, #DDD);  
    background-attachment: fixed;
}

header {
    position: fixed;
    left: auto;
    width: 63.4rem;
    padding: 1rem;
    padding-bottom: 0.0rem;
    
    background: linear-gradient(to bottom, #FFF, rgba(250, 250, 250, 0.7));
    border-bottom: 0.125rem solid rgba(0, 0, 0, 0.2);
    z-index: 1;
}

h1 {
    font-size: 1.5rem;
    float: left;
    padding-right: 0.75rem;
}

nav {
    text-align: left;
    padding-left: 1.5rem;
    padding: 0.5rem;
}

a {
    color: rgba(0, 0, 0, 0.6);
}

nav > a:not(:last-child)::after {
    content: " |";
}

article {
    clear: both;
    
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

section {
    padding: 1rem;
    position: relative;
    
    /* Leave room for the header and footer. */
    padding-top: 4rem;
    padding-bottom: 3.6rem;
}

section.source {
    float: left;
}

section.generated {
    float: right;
}

section.blurb {
    width: 100%;
    
    /* For some reason, the blurb often overlaps the code view preventing it being clicked on normally. */
    pointer-events: none;
}

footer {
    border-top: 0.125rem solid rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 0;
    left: auto;
    width: 63.8rem;
    padding: 0.9rem;
    padding-top: 0.375rem;
    padding-bottom: 1rem;
    
    background: linear-gradient(to top, #DDD, rgba(221, 221, 221, 0.7));
}

h2 {
    padding: 0.75rem;
    padding-top: 0;
    text-align: center;
    font-size: 115%;
    font-weight: bold;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
}

.code {
    width: 25rem;
    resize: none;
    overflow: hidden;
    
    background: linear-gradient(to bottom, #FFF, #FFF 0.8rem, #EEE 0.9rem, #FFF 1rem);
    background-size: 1rem 1rem;
    background-repeat: repeat;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.3);
    
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
    white-space: pre;
    line-height: 1rem;
    padding: 1rem;
}

.correction {
    margin-top: 6rem;
    height: 1.125rem;
    left: 1rem;
    right: 1rem;
    padding-right: 0.5rem;
    position: absolute;

    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.1) 0.125rem, rgba(255, 0, 0, 0) 50%), linear-gradient(to top, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.1) 0.125rem, rgba(255, 0, 0, 0) 25%);

    text-align: right;
    color: rgba(255, 0, 0, 0.5);
    font-size: 80%;
    
    /* Prevent error highlights preventing text selection. */
    pointer-events: none;
}