<h2>
    <span class="label clickable">assertions</span>
    <span class="fa fa-columns wrap clickable"></span>
</h2>
<div class="scroller">
    <h3>vectors</h3>
    <table>
        <tr class="error"><td>test one</td><td>failed</td></tr>
        <tr><td>test two</td><td>succeeded</td></tr>
        <tr><td>test two</td><td>succeeded</td></tr>
        <tr><td>test two</td><td>succeeded</td></tr>
        <tr><td>test two</td><td>succeeded</td></tr>
        <tr><td>test two</td><td>succeeded</td></tr>
    </table>
    <h3>vectors</h3>
    <table>
        <tr class="error"><td>test one</td><td>failed</td></tr>
        <tr><td>test two</td><td>succeeded</td></tr>
        <tr><td>test two</td><td>succeeded</td></tr>
        <tr class="error"><td>test one</td><td>failed</td></tr>
        <tr class="error"><td>test one</td><td>failed</td></tr>
        <tr class="error"><td>test one</td><td>failed</td></tr>
        <tr><td>test two</td><td>succeeded</td></tr>
    </table>
</div>