<h2>
    <span class="label clickable">file browser</span>
    <span class="fa fa-columns wrap clickable"></span>
</h2>
<div class="scroller file-browser new">
    <table class="file-list">
    </table>
    <div class="clickable add">add</div>
</div>

<script>
    $(document).ready(function(){
        fileBrowser.refresh($(".new.file-browser"))
        $(".new").removeClass("new")
    })
</script>