#ide {
    background: linear-gradient(to bottom, #111, #000);  
}

* {
    color: rgba(255, 255, 255, 0.7);
}

textarea {
    color: #FFF;
    background: linear-gradient(to bottom, #000, #000 0.8rem, #222 0.9rem, #000 1rem);
                background-size: 1rem 1rem;
                background-repeat: repeat;
                box-shadow: none;
                border: 0.125rem solid #444;
}

            ::selection {
                background: rgba(255, 255, 255, 0.1);
            }
            
.tab-content > .tab, .left, .right, .top, .bottom {
    box-shadow: none;
    border: 0.125rem solid #444;
}

            tr:nth-child(odd) {
                background: rgba(255, 255, 255, 0.05)
            }
            
            h2 {
                border-bottom-color: rgba(255, 255, 255, 0.2);
            }
            
            h3 {
                border-bottom-color: rgba(255, 255, 255, 0.1);
            }

            .tab-bar > .tab.active > .label {
                color: #FFF;
            }
            
                        .tab-bar > .tab {
                border-right-color: #444;
            }
            
            .tab-bar > .tab > .close, .tab-bar > :not(.tab), .merge-left, .merge-right, .grab-horizontal, .merge-up, .merge-down, .grab-vertical {
                color: #FFF;
            }