<span class="turn fa fa-refresh clickable"></span>
<span class="merge-left fa fa-arrow-left clickable"></span>
<span class="grab-horizontal fa fa-arrows-h clickable"></span>
<span class="merge-right fa fa-arrow-right clickable"></span>