<h2>
    <span class="label clickable">horizontal split</span>
    <span class="fa fa-columns wrap"></span>
</h2>
<div class="left new panel"></div>
<div class="right new panel"></div>
<div class="split-bar new"></div>
<script>
    $(document).ready(function(){
        $(".split-bar.new").load("horizontal-split-bar.html")
        $(".left.new, .right.new").load("newtab.html")
        $(".new").removeClass("new")
    })
</script>