.panel.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    right: 50%;
    margin-right: 0.25rem;
}

.panel.right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    left: 50%;
    margin-left: 0.25rem;
}

.panel.top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0.25rem;
    bottom: 50%;
}

.panel.bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0.25rem;
    top: 50%;
}

.buttons {
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}

.left ~ .split-bar {
    position: absolute;
    width: 3rem;
    bottom: 50%;
    right: 50%;
    margin-right: -1.5rem;
    margin-bottom: -6rem;
}

.top ~ .split-bar {
    position: absolute;
    height: 3rem;
    right: 50%;
    bottom: 50%;
    margin-bottom: -1.5rem;
    margin-right: -6rem;
}

.split-bar > * {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: #FFF;
    text-shadow: 0 0 0.2rem #000, 0 0 0.5rem #000;
}

.left ~ .split-bar > * {
    display: block;
}