<h2 class="clickable">
    <span class="label">tab view</span>
    <span class="fa fa-columns wrap clickable"></span>
</h2>
<div class="tab-bar"><span class="add fa fa-plus clickable"></span></div>
<div class="tab-content"></div>