.tab-bar {
    position: absolute;
    left: 0.5rem;
    right: 0rem;
    top: 2rem;
    min-height: 1.5rem;
    
    overflow-x: auto;
    overflow-y: hidden;
    
    white-space: nowrap;
    line-height: 1.5rem;
}

.tab-bar > .tab {
    padding-left: 0.5rem;
    border-right: 0.125rem solid rgba(0, 0, 0, 0.4);
}

.tab-bar > .tab.active > .label {
    font-weight: bold;
    color: #000;
}

.tab-bar > .tab > .close, .tab > .wrap, .tab > .replace, .tab-bar > :not(.tab) {
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    color: #000;
    display: inline-block;
}

.tab-content > .tab {
    top: 3.5rem;
}

.tab-content > .tab > h2 {
    display: none;
}

.tab-content > .tab > .scroller, .tab-content > .tab > .tab-bar {
    top: 0;
}

.tab-content > .tab > .tab-content > .tab {
    top: 1rem;
}

.tab-content > .tab > .panel:not(.bottom) {
    top: 0.5rem;
}

.tab-bar > .tab:not(.active) > .wrap {
    display: none;
}