<span class="turn fa fa-refresh clickable"></span>
<span class="merge-up fa fa-arrow-up clickable"></span>
<span class="grab-vertical fa fa-arrows-v clickable"></span>
<span class="merge-down fa fa-arrow-down clickable"></span>