<h2 class="clickable">
    <span class="label">vertical split</span>
    <span class="fa fa-columns wrap"></span>
</h2>
<div class="top new panel"></div>
<div class="bottom new panel"></div>
<div class="split-bar new"></div>
<script>
    $(document).ready(function(){
        $(".split-bar.new").load("vertical-split-bar.html")
        $(".top.new, .bottom.new").load("newtab.html")
        $(".new").removeClass("new")
    })
</script>